body {
    background-color: #1c2237;
    color: white;
}

.Newmain-container,
.Newmobile-container,
.Newmobile-item {
    width: 100vw;
}

.Newmobile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Newmobile-img {
    width: 40vw;
}

.Newmobile-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Newtext-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Newmobile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .Newmobile-item {
        display: flex;
        width: 45vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 3;
        flex-wrap: wrap;
    }

    .Newmobile-img {
        width: 40vw;
        margin: 5px;
        height: 50vw;
        overflow: hidden;
        border-radius: 1em;
        border: 1px solid;
    }

    .Newmobile-img>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .Newtext-mobile {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Newmobile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }

    .Newmobile-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 3;
        flex-wrap: wrap;
    }

    .Newmobile-img {
        overflow: hidden;
        border-radius: 1em;
        border: 1px solid;
        width: 50%;
        height: 50%;
    }

    .Newmobile-img>img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .Newtext-mobile {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}