body {
    background-color: #1c2237;
    color: white;
}

.Newmain-container, .Newmobile-container, .Newmobile-item {
    width: 100vw;
}

.Newmobile-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Newmobile-img{
    width: 40vw;
}

.Newmobile-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Newtext-mobile{
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Newmobile-container {
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 3;
        flex-wrap: wrap; 
    }
    
    .Newmobile-img{
        width: calc(33.33% - 10px); 
        margin: 5px; 
        height: 5vw;
        overflow: hidden;
        border-radius: 1em;
        border: 1px solid;
    }
    
    .Newmobile-img>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .Newtext-mobile{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}