ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

li{
    margin: 0 1em;
}

li a {
    text-decoration: none;
    border-bottom: none;
    color: #fff;
}

li img {
    max-width: 50px;
    max-height: 50px;
}

@media only screen and (max-width: 600px) {
    li {
        width: 50%; 
    }

    ul {
        flex-direction: column; 
        align-items: center; 
    }
}

@media only screen and (min-width: 600px) {
    li {
        width: 33.33%;
    }
}

@media only screen and (min-width: 768px) {
    li {
        width: 25%;
    }
}

@media only screen and (min-width: 992px) {
    li {
        width: 20%;
    }
}

@media only screen and (min-width: 1200px) {

}