body {
    background-color: #1c2237;
    color: white;
}

.Newmain-container,
.Newmobile-container,
.Newmobile-item {
    width: 100vw;
}

.Newmobile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Computer-item{
    padding-top: 20px;
}
.Computer-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 3;
    flex-wrap: wrap; 
}

.Computer-img{
    width: 150px; 
    margin: 5px; 
    height: 50vw;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid;
}

.Computer-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-Computer{
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 200px) {
    .Computer-container{
        display: flexbox;
        align-items: center;
        flex-direction: column;
    }

    .Computer-img{
        align-items: center;
    }

    .Computer-img>img{
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Computer-img{
        width: 25vw;
        height: 16.7vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Newmobile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .Newmobile-item {
        display: flex;
        width: 45vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 3;
        flex-wrap: wrap;
    }

    .Newmobile-img {
        width: 40vw;
        margin: 5px;
        height: 50vw;
        overflow: hidden;
        border-radius: 1em;
        border: 1px solid;
    }

    .Newmobile-img>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .Newtext-mobile {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Computer-container{
        width: 60vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}