#container{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.p a {
    text-decoration: none;
    border-bottom: none;
    border-width: 6px;
    color: #fff;
    width: 2px;
    padding: 6px;
    text-align: center;
}
.icon{
    display: flex;
    flex-wrap: wrap;
}

.icon ion-icon{
    padding-left: 14vw;
    font-size: 64px;
}

@media only screen and (min-width: 200px) {
    .text{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 600px) {
    .text{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {}
