#container {
    display: flex;
    flex-direction: column;
    background-color: black;
}

/* .text{
    display: flex;
    flex-direction: column;

} */

.p a {
    text-decoration: none;
    border-bottom: none;
    border-width: 6px;
    color: #fff;
    width: 2px;
    padding: 6px;
    text-align: center;
}
.icon{
    display: flex;
    flex-wrap: wrap;
}

.icon h1 {
    padding-left: 10vw;
    font-size: 30px;
}

@media only screen and (min-width: 200px) {
    .text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.text>p{
    font-size: x-small;
    text-align: center;
}

/* @media only screen and (min-width: 400px) {
    
} */

@media only screen and (min-width: 600px) {
    .text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 5px;
        justify-content: center;
        align-items: center;
    }

    .text p{
        display: flex;
        margin-right: 15px;
    }

    .text p a{
        display: flex;
        /* margin-left: 0.5px;
        margin-right: 0.5px; */
        text-decoration: none;
        text-decoration-color: #fff;
    }

    .icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    .text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .text p{
        display: flex;
        margin-left: 4px;
        margin-right: 4px;
    }

    .text p a{
        display: flex;
        margin-left: 0.5px;
        margin-right: 0.5px;
        text-decoration: none;
        text-decoration-color: #fff;
    }

    .icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}