body {
    background-color: #1c2237;
    color: white;
}

.Notmain-container, .Notmobile-container, .Notmobile-item {
    width: 100vw;
}

.Notmobile-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Notmobile-img{
    width: 40vw;
}

.Notmobile-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Nottext-mobile{
    align-items: center;
    display: flex;
    flex-direction: column;
}



/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 400px) {
    
    
} */


@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {

    .Notmobile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .Notmobile-item{
        display: flex;
        width: 45vw;
        flex-direction: column; 
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 3;
        flex-wrap: wrap;
    }
    
    .Notmobile-img{
        width: 40vw;
        margin: 5px; 
        height: 50vw;
        overflow: hidden;
        border-radius: 1em;
        border: 1px solid;
    }
    
    .Notmobile-img>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .Nottext-mobile{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 992px) {
    
    .Notmobile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }

    .Notmobile-item{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 3;
        flex-wrap: wrap;
    }
    
    .Notmobile-img{
        overflow: hidden;
        border-radius: 1em;
        border: 1px solid;
    }
    
    .Notmobile-img>img{
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
    
    .Nottext-mobile{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) {}